In [40]:
print('Hello World')

Hello World

# Loops

## Loops will allow us to iterate over iterable objects or simply to do a task multiple times in a row

In [41]:
listanum=[0,1,2,3,4,5,6,7]

for elem in listanum:
    print(elem+1)

1
2
3
4
5
6
7
8

In [42]:
nombre='Fernando'

for letra in nombre:
    print(letra)

F
e
r
n
a
n
d
o

In [43]:
midiccionario={'Fernando':[0,1,2,3,4],'Diego':[5,6,7,8]}

for key in midiccionario:
    print(key)
    for value in midiccionario[key]:
        print(value)

Fernando
0
1
2
3
4
Diego
5
6
7
8

In [44]:
type(midiccionario['Fernando'])

list

In [45]:
respuesta=input('Say y for yes and n for no ')

while respuesta=='y':
    print('Sí')
    respuesta=input('Say y for yes and n for no ')

Sí

In [46]:
# == >= <= != isin in

In [47]:
numero=int(input('Dime un numero y yo lo sumo '))
suma=0

while type(numero)==int:
    suma+=numero #suma=suma+numero
    print(suma)
    numero=int(input('Dime otro numero '))

5
10

ValueError: invalid literal for int() with base 10: 'n'

# Functions for Second Class

## Functions are user defined and accept any data argument type from native python and if modules are imported they also accept other object types

In [48]:
def suma(valor1,valor2):
    return valor1+valor2

In [49]:
suma(1,2)

3

# $Suma2(x,y,z,...)=x+y+z+...$

In [63]:
def suma2(listadenumeros):
    pasos=0
    for num in listadenumeros:
        pasos+=num

    return pasos

In [64]:
diego=69420
suma2([1,2,5,7,9,10,11.56,diego])

69465.56

In [70]:
def nombre(texto):
    texto=texto.lower()
    texto=texto.title()
    return texto

In [71]:
nombre('dIaNA')

'Diana'